In [2]:
import pandas as pd
import numpy as np
td_2011 = pd.read_csv('/Users/cd/Documents/Code Academy Berlin/Project 3/2011+trip+data/2011-capitalbikeshare-tripdata.csv')
td_2011_copy = td_2011.copy()

In [3]:
td_2011.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,3548,2011-01-01 00:01:29,2011-01-01 01:00:37,31620,5th & F St NW,31620,5th & F St NW,W00247,Member
1,346,2011-01-01 00:02:46,2011-01-01 00:08:32,31105,14th & Harvard St NW,31101,14th & V St NW,W00675,Casual
2,562,2011-01-01 00:06:13,2011-01-01 00:15:36,31400,Georgia & New Hampshire Ave NW,31104,Adams Mill & Columbia Rd NW,W00357,Member
3,434,2011-01-01 00:09:21,2011-01-01 00:16:36,31111,10th & U St NW,31503,Florida Ave & R St NW,W00970,Member
4,233,2011-01-01 00:28:26,2011-01-01 00:32:19,31104,Adams Mill & Columbia Rd NW,31106,Calvert & Biltmore St NW,W00346,Casual

In [4]:
#hunting nans
nan_indices = td_2011.isna()
print(nan_indices.any())

Duration                False
Start date              False
End date                False
Start station number    False
Start station           False
End station number      False
End station             False
Bike number             False
Member type             False
dtype: bool

In [5]:
# Count NaN values of whole DataFrame. nothing is NaN
nan_count=td_2011.isna().sum().sum()
print(nan_count)

0

In [6]:
#hunting duplicates, none found
duplicateRows = td_2011[td_2011.duplicated()]
print(duplicateRows)

Empty DataFrame
Columns: [Duration, Start date, End date, Start station number, Start station, End station number, End station, Bike number, Member type]
Index: []

In [12]:
#The attribute dteday would require type conversion from object (or string type) to timestamp. 
#That is, 'dteday' should be a 'datetime' object.
td_2011['Start date'] = pd.to_datetime(td_2011['Start date'])
td_2011['End date'] = pd.to_datetime(td_2011['End date'])
td_2011.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1226767 entries, 0 to 1226766
Data columns (total 11 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Duration              1226767 non-null  int64
 1   Start date            1226767 non-null  datetime64[ns]
 2   End date              1226767 non-null  datetime64[ns]
 3   Start station number  1226767 non-null  int64
 4   Start station         1226767 non-null  object
 5   End station number    1226767 non-null  int64
 6   End station           1226767 non-null  object
 7   Bike number           1226767 non-null  object
 8   Member type           1226767 non-null  object
 9   start_dteday          1226767 non-null  datetime64[ns]
 10  end_dteday            1226767 non-null  datetime64[ns]
dtypes: datetime64[ns](4), int64(3), object(4)
memory usage: 103.0+ MB

In [14]:
td_2011.drop('start_dteday', inplace=True, axis=1)
td_2011.drop('end_dteday', inplace = True, axis=1)
td_2011.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1226767 entries, 0 to 1226766
Data columns (total 9 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Duration              1226767 non-null  int64
 1   Start date            1226767 non-null  datetime64[ns]
 2   End date              1226767 non-null  datetime64[ns]
 3   Start station number  1226767 non-null  int64
 4   Start station         1226767 non-null  object
 5   End station number    1226767 non-null  int64
 6   End station           1226767 non-null  object
 7   Bike number           1226767 non-null  object
 8   Member type           1226767 non-null  object
dtypes: datetime64[ns](2), int64(3), object(4)
memory usage: 84.2+ MB